@using ImgR

@{
    ViewBag.Title = "Image Gallery";

    var image_rows = ImgR.Models.Image.GetImages(true).ToList().Paginate(12);
}

@section scripts {
    <script>
        function bind_height() {
            function doforthiselem(me) {
                var value = $(me).attr("bind-height");
                var elems = $("[bind-height='" + value + "']");
                var heights = elems.toArray().map(function (elem) { return $(elem).height(); });
                if (Math.max.apply(me, heights) > Math.min.apply(me, heights)) $(me).height(Math.max.apply(me, heights));
            }
            $("[bind-height]").each(function () {
                doforthiselem(this);
            });
        }

        $(document).ready(function () {
            bind_height();
        });

        $(function () {
            document.querySelectorAll("[data-image-url]").forEach(function (imgElem) {
                var srcUrl = $(imgElem).attr("data-image-url");
                var xhr = new XMLHttpRequest();
                xhr.onreadystatechange = function () {
                    if (this.readyState == 4 && this.status == 200) {
                        var url = window.URL || window.webkitURL;
                        $(imgElem).attr("src", url.createObjectURL(this.response));
                    }
                }
                xhr.open("GET", srcUrl);
                xhr.setRequestHeader("screen-width", screen.width);
                xhr.setRequestHeader("screen-height", screen.height);
                xhr.setRequestHeader("screen-size", screen.width + "-" + screen.height);
                xhr.responseType = "blob";
                xhr.send();
            });
        });
    </script>
}

<h2>Image Gallery</h2>

<div class="row">
    <div class="col-sm-12">
        @foreach (var images in image_rows)
        {
            <div class="row pad-5">
                @foreach (var img in images)
                {
                    <div class="col-sm-2" bind-height="image-title">
                        <a href="~/images/@img.Name">
                            <img class="img img-responsive" style="width:100%;height:auto" data-image-url="@ImgR.Models.Site.ResolveURL(img.URL)" alt="@Html.Raw(img.Description)" title="@img.Title" />
                        </a>
                        <h4>@(String.IsNullOrEmpty(img.Title) ? "No Title" : img.Title) - @img.GetDevice().ShortName</h4>
                        <p class="text-center">@img.GetDevice().Width x @img.GetDevice().Height</p>
                    </div>
                }
            </div>
        }

        @if (image_rows.IsEmpty())
        {
            <div class="col-sm-12 alert alert-info top25">
                <h3>There are no images in this gallery.</h3>
            </div>
        }

    </div>
</div>